@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../fonts/Heebo/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo/Heebo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  color: #6a6a6a;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 3;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #1a9bdc;
  border-radius: 32px;
  padding: 0px 28px;
  -webkit-transition: .2s background-color linear;
  transition: .2s background-color linear;
}

.btn:hover {
  background-color: #1992ce;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: #494949;
  line-height: 1.4;
}

h3 {
  font-size: 30px;
}

.top {
  padding-top: 14px;
  position: relative;
  z-index: 101;
}

@media (max-width: 992px) {
  .top {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
            box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
  position: relative;
}

.top-logo {
  width: 180px;
}

.top-logo__img {
  max-width: 100%;
}

.top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .top-contacts {
    display: none;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin-left: 40px;
  color: #6a6a6a;
}

.contacts__item:not(:first-child) a:hover {
  color: #000;
  text-decoration: underline;
}

.contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #1a9bdc;
  border-radius: 50%;
  margin-right: 18px;
}

.contacts__img {
  max-width: 50%;
}

.phone-icon {
  max-width: 40%;
}

.contacts__text span {
  display: block;
}

.contacts__text span:first-child {
  font-weight: bold;
}

.contacts__text > a {
  color: #6a6a6a;
}

.header {
  position: relative;
  padding: 16px 0;
}

@media (max-width: 992px) {
  .header {
    padding: 0;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .header-nav {
    display: none;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item:not(:first-child) {
  margin-left: 30px;
}

.header-nav__link {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  color: #6a6a6a;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.header-nav__link:hover {
  color: #000;
}

@media (max-width: 992px) {
  .header-social {
    display: none;
  }
}

.social__link {
  display: inline-block;
  height: 24px;
}

.social__link svg {
  height: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social__link svg:hover {
  fill: #1a9bdc;
}

.social__link:not(:first-child) svg {
  margin-left: 30px;
}

.nav-toggle {
  display: none;
  position: absolute;
  top: -44px;
  right: 15px;
  background-color: transparent;
  padding: 10px 0;
  z-index: 102;
}

@media (max-width: 992px) {
  .nav-toggle {
    display: block;
  }
}

.nav-toggle--active {
  position: fixed;
  top: 22px;
}

.nav-toggle__item {
  font-size: 0;
  display: block;
  position: relative;
  width: 28px;
  height: 3px;
  background-color: #272727;
}

.nav-toggle__item::before, .nav-toggle__item::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  width: 28px;
  height: 3px;
  background-color: #272727;
  -webkit-transition: all .2s linear .2s, -webkit-transform  .2s ease-in;
  transition: all .2s linear .2s, -webkit-transform  .2s ease-in;
  transition: transform  .2s ease-in, all .2s linear .2s;
  transition: transform  .2s ease-in, all .2s linear .2s, -webkit-transform  .2s ease-in;
}

.nav-toggle__item::after {
  top: 9px;
}

@media (max-width: 992px) {
  .nav-toggle--active .nav-toggle__item {
    background-color: transparent;
  }
  .nav-toggle--active .nav-toggle__item::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  }
  .nav-toggle--active .nav-toggle__item::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, -webkit-transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s;
    transition: top .2s linear, transform .2s ease-in .2s, -webkit-transform .2s ease-in .2s;
  }
}

.mobile-menu {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: -100%;
  background-color: #fff;
  padding: 26px 0 15px 54px;
  -webkit-transition: left .3s linear;
  transition: left .3s linear;
  z-index: 100;
}

@media (max-width: 992px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu--active {
  left: 0;
}

.mobile-menu__list {
  margin-bottom: 28px;
}

.mobile-menu__item {
  margin-bottom: 18px;
}

.mobile-menu__link {
  font-size: 18px;
  font-weight: bold;
  color: #272727;
}

.mobile-contact {
  margin-bottom: 28px;
}

.mobile-contact .contacts__item {
  margin-left: 0;
  margin-bottom: 14px;
}

@media (max-width: 576px) {
  .social__link:not(:first-child) svg {
    margin-left: 22px;
  }
}

.mainblock {
  background: url(../img/mainblock/mainblock-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 150px 0;
  position: relative;
  z-index: 0;
}

.mainblock:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .mainblock {
    padding: 58px 0;
  }
}

.mainblock__column {
  position: relative;
  text-align: center;
  max-width: 630px;
  margin-left: 40px;
  z-index: 1;
}

@media (max-width: 767px) {
  .mainblock__column {
    margin: 0 auto;
  }
}

.mainblock__title {
  font-size: 48px;
  color: #fff;
  margin-bottom: 34px;
}

@media (max-width: 576px) {
  .mainblock__title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.mainblock__text {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .mainblock__text {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 34px;
  }
}

.services {
  background-color: #43b1d2;
}

@media (max-width: 575.98px) {
  .services {
    padding: 30px 0;
  }
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.services__item {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: #43b1d2;
  padding: 50px 30px;
}

.services__item:hover {
  background-color: #37c3a8;
}

@media (max-width: 575.98px) {
  .services__item {
    padding: 20px 15px;
  }
}

.services__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 76px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (max-width: 575.98px) {
  .services__img-wrap {
    width: 50px;
    height: 51px;
  }
}

.services__img {
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .services__img {
    max-width: 30px;
    height: 30px;
  }
}

.services__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 29px;
}

@media (max-width: 575.98px) {
  .services__title {
    font-size: 24px;
    margin-bottom: 14px;
  }
}

.serices__text {
  color: #fff;
}

.why {
  padding-top: 60px;
}

@media (max-width: 576px) {
  .why {
    padding-top: 50px;
  }
}

.why-heading {
  max-width: 878px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.why-heading__title {
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  .why-heading__title {
    font-size: 30px;
  }
}

.why-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .why-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.why__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.why-item {
  max-width: 363px;
}

@media (max-width: 992px) {
  .why-item {
    margin-bottom: 40px;
  }
}

.why-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 19px;
}

.why-item__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 76px;
  background-color: #1a9bdc;
  border-radius: 50%;
  margin-right: 19px;
}

@media (max-width: 575.98px) {
  .why-item__img-wrap {
    width: 50px;
    height: 51px;
  }
}

.why-item__img {
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .why-item__img {
    max-width: 30px;
    height: 30px;
  }
}

.why-item__title {
  font-size: 30px;
}

@media (max-width: 575.98px) {
  .why-item__title {
    font-size: 24px;
  }
}

.why-content__img-wrap {
  max-width: 280px;
  margin: 0 20px;
}

@media (max-width: 992px) {
  .why-content__img-wrap {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.why-content__img {
  display: block;
  max-width: 100%;
}

.statistics {
  padding: 60px 0;
  background-color: #1992ce;
}

@media (max-width: 991.98px) {
  .statistics {
    padding-bottom: 0;
  }
}

.statistics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@media (max-width: 991.98px) {
  .statistics__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.statistics__item {
  font-family: 'Montserrat', sans-serif;
  width: 325px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .statistics__item {
    margin-bottom: 60px;
  }
}

.statistics__img-wrap {
  width: 90px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (max-width: 575.98px) {
  .statistics__img-wrap {
    width: 60px;
    height: 50px;
  }
}

.statistics__img {
  max-width: 100%;
}

.statistics__number {
  position: relative;
  font-size: 50px;
  margin-bottom: 40px;
}

.statistics__number::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -16px;
  width: 84px;
  height: 6px;
  background-color: #fff;
}

@media (max-width: 575.98px) {
  .statistics__number {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.statistics__text {
  font-size: 25px;
}

.works {
  padding: 60px 0;
}

@media (max-width: 575.98px) {
  .works {
    padding: 40px 0;
  }
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__how {
  max-width: 714px;
}

@media (max-width: 1199.98px) {
  .works__how {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.works-heading {
  margin-bottom: 54px;
}

@media (max-width: 575.98px) {
  .works-heading {
    text-align: center;
  }
}

.works-heading__title {
  margin-bottom: 38px;
}

@media (max-width: 575.98px) {
  .works-heading__title {
    font-size: 30px;
  }
}

.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .works-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.works-content__item {
  max-width: 308px;
}

@media (max-width: 1199.98px) {
  .works-content__item {
    max-width: 50%;
  }
}

@media (max-width: 575.98px) {
  .works-content__item {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.works-content__item:first-child {
  margin-right: 50px;
}

@media (max-width: 767.98px) {
  .works-content__item:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 575.98px) {
  .works-content__item:first-child {
    margin-right: 0;
  }
}

.works-content__item {
  margin-bottom: 40px;
}

.works-content__img-wrap {
  max-width: 334px;
  margin-bottom: 35px;
}

.works-content__img {
  max-width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.works-content__img:hover {
  -webkit-box-shadow: 1px 1px #1a9bdc, 2px 2px #1a9bdc, 3px 3px #1a9bdc, 4px 4px #1a9bdc, 5px 5px #1a9bdc, 6px 6px #1a9bdc, 7px 7px #1a9bdc;
          box-shadow: 1px 1px #1a9bdc, 2px 2px #1a9bdc, 3px 3px #1a9bdc, 4px 4px #1a9bdc, 5px 5px #1a9bdc, 6px 6px #1a9bdc, 7px 7px #1a9bdc;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

.works-content__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 13px;
}

.works-content__title a {
  color: #6f6f6e;
}

.works-content__title a:hover {
  color: #3d3d3d;
  text-decoration: underline;
}

.works-content__date {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: block;
  color: #0087be;
  margin-bottom: 27px;
}

.works-content__date:hover {
  color: #0274a1;
  text-decoration: underline;
}

.works-creative {
  max-width: 422px;
}

@media (max-width: 1199.98px) {
  .works-creative {
    max-width: 728px;
    margin: 0 auto;
  }
}

.works-heading {
  margin-bottom: 34px;
}

@media (max-width: 1199.98px) {
  .works-heading {
    text-align: center;
  }
}

.works-creative__title {
  margin-bottom: 34px;
}

@media (max-width: 575.98px) {
  .works-creative__title {
    font-size: 30px;
  }
}

.works-accordeon__item {
  margin-bottom: 12px;
}

.works-accordeon__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #e2e2e2;
  border-radius: 28px;
  padding: 14px 0 12px 66px;
  margin-bottom: 19px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.works-accordeon__title::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #1992ce;
  border-radius: 50%;
}

.works-accordeon__title::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 26px;
  display: block;
  width: 8px;
  border: 8px solid transparent;
  border-left: 8px solid #fff;
}

.works-accordeon__title::-moz-selection {
  background-color: transparent;
}

.works-accordeon__title::selection {
  background-color: transparent;
}

.works-accordeon__title--active {
  color: #fff;
  background-color: #1992ce;
}

.works-accordeon__text {
  display: none;
  margin-bottom: 40px;
}

.works__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  background: url(../img/gallery/gallery-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.gallery::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #35a893;
  opacity: .8;
}

.gallery__wrap {
  position: relative;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 22px;
}

@media (max-width: 575.98px) {
  .gallery__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

.gallery__heading {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  .gallery__heading {
    margin-bottom: 40px;
  }
}

.gallery__title {
  color: #fff;
  margin-bottom: 35px;
}

@media (max-width: 575.98px) {
  .gallery__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.gallery__text {
  color: #fff;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item {
  width: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .gallery__item {
    width: 50%;
    margin: 0;
  }
}

.gallery__item:nth-child(3),
.gallery__item:nth-child(6) {
  margin-right: 0;
}

.gallery__item img {
  max-width: 100%;
  display: block;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.gallery__item:hover.gallery__item img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team {
  padding: 60px 0;
}

@media (max-width: 575.98px) {
  .team {
    padding: 30px 0;
  }
}

.team__heading {
  text-align: center;
  margin-bottom: 50px;
}

.team__title {
  margin-bottom: 40px;
}

@media (max-width: 575.98px) {
  .team__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .team__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #6f6f6e;
}

@media (max-width: 767.98px) {
  .team-item {
    width: 48%;
    margin-bottom: 30px;
  }
}

@media (max-width: 575.98px) {
  .team-item {
    width: 100%;
  }
}

.team-item:not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 767.98px) {
  .team-item:not(:first-child) {
    margin-left: 0;
  }
}

.team-item:nth-child(even) {
  margin-left: 18px;
}

@media (max-width: 575.98px) {
  .team-item:nth-child(even) {
    margin-left: 0;
  }
}

.team-item__img-wrap {
  max-width: 278px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.team-item__img {
  max-width: 100%;
}

.team-item__name {
  display: block;
  font-size: 25px;
  margin-bottom: 12px;
}

@media (max-width: 767.98px) {
  .team-item__name {
    font-size: 22px;
  }
}

.team-item__prof {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.offer {
  padding: 60px 45px;
  background-color: #e2e2e2;
}

@media (max-width: 767.98px) {
  .offer {
    padding: 30px 15px;
  }
}

.offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.offer__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #494949;
  margin-right: 20px;
}

@media (max-width: 1162.98px) {
  .offer__text {
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .offer__text {
    font-size: 24px;
  }
}

.offer__btn {
  -webkit-box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 37px -9px rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=style.css.map */