.services {
    background-color: #43b1d2;

}
.services__row {
    display: flex;
    justify-content: center;
    padding: 54px 0;

    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }

    @media (max-width: 575.98px) {
        padding-bottom: 30px;
    }
}

.services__item {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #43b1d2;
    padding: 30px 40px;

    &:hover {
        background-color: #37c3a8;
    }

    @media (max-width: 575.98px) {
        padding: 20px 15px;
    }
}

.services__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 76px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 25px;

    @media (max-width: 575.98px) {
        width: 50px;
        height: 51px;
    }
}

.services__img {
    max-width: 100%;

    @media (max-width: 575.98px) {
        max-width: 30px;
        height: 30px;
    }
}

.services__title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 25px;

    @media (max-width: 575.98px) {
        font-size: 24px;
    }
}

.serices__text {
    color: #fff;
}