.why {
    padding-top: 60px;

    @media (max-width: 576px) {
        padding-top: 50px;
    }
}

.why-heading {
    max-width: 878px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}

.why-heading__title {
    margin-bottom: 30px;

    @media (max-width: 575.98px) {
        font-size: 30px;
    }
}

.why-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.why__column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.why-item {
    max-width: 363px;

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }
}

.why-item__row {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.why-item__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 76px;
    background-color: #1a9bdc;
    border-radius: 50%;
    margin-right: 19px;

    @media (max-width: 575.98px) {
        width: 50px;
        height: 51px;
    }
}

.why-item__img {
    max-width: 100%;

    @media (max-width: 575.98px) {
        max-width: 30px;
        height: 30px;
    }
}

.why-item__title {
    font-size: 30px;

    @media (max-width: 575.98px) {
        font-size: 24px;
    }
}

.why-content__img-wrap {
    max-width: 280px;
    margin: 0 20px;

    @media (max-width: 992px) {
        order: 3;
    }
}

.why-content__img {
    display: block;
    max-width: 100%;
}